<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apizee.webrtc.apiRTC">

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.RECORD_AUDIO" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.FOREGROUND_SERVICE" />
    <permission android:name="android.permission.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION" />
    <permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_apirtc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_apirtc_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <service android:enabled="true"
            android:name="com.apizee.apiRTC.screenCapturer.ScreenCapturerService"
            android:foregroundServiceType="mediaProjection"> </service>
        <activity
            android:name=".TutorialPeertopeerChat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialPeertopeerSendData"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialConferencingChat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialPresenceGroupManagement"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialConferencingVideo"
            android:foregroundServiceType="mediaProjection"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialUserDataSharing"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TutorialPeertopeerSendFile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LobbyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoCallActivity"
            android:persistent="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>
